/ {
	sim_barometer: sim_barometer {
		compatible = "zephyr,fake-sensor";
		status = "okay";
	};

	sim_imu: sim_imu {
		compatible = "zephyr,fake-sensor";
		status = "okay";
	};

	sim_vbat_sensor: sim_vbat_sensor {
		compatible = "zephyr,fake-sensor";
		status = "okay";
	};

	sim_vcc_sensor: sim_vcc_sensor {
		compatible = "zephyr,fake-sensor";
		status = "okay";
	};

	pyro: pyro {
		stm_ch1_en: stm_ch1_en {
			gpios = <&gpio0 0 GPIO_ACTIVE_HIGH>;
			label = "STM-CH1-EN";
		};

		stm_ch2_en: stm_ch2_en {
			gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>;
			label = "STM-CH2-EN";
		};

		flt1: flt1 {
			gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
			label = "FLT1";
		};

		flt2: flt2 {
			gpios = <&gpio0 3 GPIO_ACTIVE_LOW>;
			label = "FLT2";
		};
	};

	leds {
		compatible = "gpio-leds";

		led0: led_0 {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Status LED";
		};

		buzzer: buzzer {
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			label = "Buzzer Enable";
		};
	};

	aliases {
		led = &led0;
		led0 = &led0;
		buzzer = &buzzer;
		barometer = &sim_barometer;
		imu = &sim_imu;
		stm-ch1-en = &stm_ch1_en;
		stm-ch2-en = &stm_ch2_en;
		flt1 = &flt1;
		flt2 = &flt2;
		vbat-sensor = &sim_vbat_sensor;
		vcc-sensor = &sim_vcc_sensor;
	};

	chosen {
		zephyr,settings-partition = &nvs_partition;
	};
};

&flash0 {
	partitions {
		nvs_partition: partition@fc000 {
			label = "nvs_storage";
		};

		raw_partition: partition@c000 {
			label = "raw_log";
		};

		fat_partition: partition@75000 {
			label = "fat_export";
		};
	};
};
