config CORE
  bool "Core"
  help
    This option enables core functionality for flight software

if CORE

config CORE_GNSS
  bool "Core GNSS"
  default n
  help
    Build GNSS receiver support in the core library.

config CORE_SETTINGS
  bool "Core Settings"
  default n
  help
    Build settings storage/runtime configuration support in the core library.

config CORE_LORA
  bool "Core LoRa"
  default n
  help
    Build LoRa transceiver support in the core library.

config CORE_TDMA_TIME
  bool "Core TDMA and Time"
  default n
  help
    Build TDMA clock and PPS timekeeping support in the core library.

config CORE_FLIGHT
  bool "Core Flight State Machine"
  default n
  help
    Build flight state machine for rocket state tracking and event detection.


config CORE_FLIGHT_LOGGER
  bool "Core Flight Logging"
  default n
  help
    Build flight logging support for logging flight data to flash storage.

config CORE_SENSORS
  bool "Core Sensor Abstractions"
  default n
  help
    Build sensor abstractions for core sensors like barometers and IMUs.


config LICENSED_FREQUENCY
  bool "Licensed Frequency"
  depends on CORE_SETTINGS
  help
    This option enables callsigns prepended to each packet.

config CORE_SETTINGS
  bool "Common Settings"
  depends on SETTINGS
  depends on SETTINGS_NVS
  help
    NVS-persisted deployment and operational settings.

config CORE_SETTINGS_FLIGHT_COMPUTER
  bool "Core Settings Flight Computer"
  depends on CORE_SETTINGS
  help
    This option enables a shell command to set the flight computer at runtime.

config CORE_SETTINGS_TRACKER
  bool "Core Settings Tracker"
  depends on CORE_SETTINGS
  help
    This option enables a shell command to set the tracker at runtime.

config SHELL_FREQUENCY
  bool "Shell Frequency"
  depends on CORE_SETTINGS
  help
    This option enables a shell command to set the frequency at runtime.

config SHELL_CALLSIGN
  bool "Shell Callsign"
  depends on CORE_SETTINGS
  help
    This option enables a shell command to set the callsign at runtime.

config SHELL_NODE_ID
  bool "Shell Node ID"
  depends on CORE_SETTINGS
  help
    This option enables a shell command to set the node ID at runtime.

endif # CORE
