# Copyright (c) 2024 Aaron Chan
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

menu "Marshal"

config VBAT_MIN_MV
	int "Minimum VBAT voltage (mV)"
	default 3300
	range 2500 16000
	help
		Minimum battery voltage threshold, in millivolts, used by VoltageMonitor::isVbatOk().

endmenu
